.AcademyMatrixBody {
  display: flex;
  flex-direction: row;

  ._tagsCloudBodyWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 25vw;

    ._h2 {
      display: flex;
      align-self: flex-start;
      text-transform: capitalize;
      line-height: 2.25rem;
      font-size: @fontSizeH4;
    }
  }

  ._modulesBodyWrapper {
    display: flex;
    flex: 3;
    align-items: flex-start;
    padding-left: 1rem;
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
    flex-direction: column;
    width: 100vw;

    ._tagsCloudBodyWrapper {
      padding: 0 0 1rem 0;
    }

    ._modulesBodyWrapper {
      flex: 1;
      padding-left: 0;
    }
  }
}

.AcademyMatrixBody > div._tagsCloudBodyWrapper > div {
  border: unset;

  div.ant-collapse-content.ant-collapse-content-active {
    border-top: unset;

    div.ant-collapse-content-box {
      padding: 0;
    }
  }

  div.ant-collapse-header.ant-collapse-collapsible-icon {
    align-items: center;
  }

  div.ant-collapse-item > .ant-collapse-header {
    padding: 12px 16px 0 16px;
  }
}
