.VideoQaHome {
  display: flex;

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
  }
}

.VideoQaHome_display_none {
  display: none;
}

.VideoQaHome_visible_none {
  visibility: hidden;
  opacity: 0;
}
