.NavLinkWithQuery {
  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
  }
}

.NavLinkWithQuery_cursor_pointer {
  cursor: pointer;
}

.NavLinkWithQuery_cursor_not_allowed {
  cursor: not-allowed;
  opacity: 50%;
}

.NavLinkWithQuery_display_none {
  display: none;
}

.NavLinkWithQuery_visible_none {
  visibility: hidden;
  opacity: 0;
}
