.FormInputNames {
  display: flex;

  ._form {
    display: flex;
    flex-direction: column;
    flex: 1;

    .ant-collapse {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0 0 1.5rem 0;

      div.ant-collapse-content.ant-collapse-content-active {
        .ant-collapse-content-box {
          padding: 0;
        }
      }

      .ant-collapse-item {
        .ant-collapse-header.ant-collapse-collapsible-icon {
          padding: 0 0 0.5rem 0;

          span {
            align-self: center;
          }
        }
      }

      ._label {
        display: flex;
        text-align: initial;
        background: inherit;
        color: inherit;
      }
    }

    /* Clear floats */
    ._buttons {
      display: flex;
      padding: 0.5rem 0 1.5rem 0;
    }
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
    ._form {
      ._group {
        ._label {
          font-size: @fontSizeS;
        }
      }
      /* Clear floats */
    }
  }
}

.FormInputNames_display_none {
  display: none;
}

.FormInputNames_visible_none {
  visibility: hidden;
  opacity: 0;
}
